<!-- <div *ngIf="dash=='dashboard'">
  <mat-tab-group>
    <mat-tab label="All Files" ><a routerLink='/allfiles'></a></mat-tab>
    <mat-tab label="Shared With Me"><app-shared-with-me-file> </app-shared-with-me-file></mat-tab>
    <mat-tab label="Recent Files"> <app-recentfiles></app-recentfiles> </mat-tab>
    <mat-tab label="Upload"><app-fileupload></app-fileupload></mat-tab>
    <mat-tab label="Uploded Files"><app-shared-access></app-shared-access></mat-tab>
  </mat-tab-group>
</div>
<div mat-tab-body>

  <router-outlet></router-outlet>
</div> -->
